<title>About Unofficial Trakehner DB</title>

<%= render 'shared/website_title' %><br/>

<div id='about_content' class='center'>

  <div id="about_header">
    <h2><%= t 'static_pages.about' %></h2><br>
    <h3><%= t('static_pages.welcome') %></h3>
  </div>

  <br>

  <div id="about_body">
    <p><%= t('static_pages.the_site') %></p><br>

    <p><%= t('static_pages.the_motivation') %></p><br>
  </div>

  <div id="about_signature">
    <p><%= t('static_pages.the_invitation') %></p>
    <a href="http://www.sprestage.com" target="_blank">
  Susan Prestage</a><br>
    <br><a href="http://tabarahranchtrakehners.com" target="_blank">Tabarah Ranch Trakehners</a>
    <br>Washington, USA</p>
    <br>
    <%= image_tag( "susan.jpg", size: "230x230", alt: "Susan" ) %>
  </div>

</div>
